<div class="container-fluid" style="max-width:1564px; font-style: italic;">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <div class="row">
        <div class="col-xl-6 col-lg-6">

          <h2>Somos actualmente una organización que se encarga de difundir el conocimiento</h2>
          <h3 class="mx-auto">
            Cede Barcelona Anzoátegui Venezuela
          </h3>
          <h5>
              Centro de Servicios Lomas del Mar, Piso 1, Local 33, Avenida Argimiro Gabaldón, Barcelona 6001, Anzoátegui, Venezuela
          </h5>
          <div class="embed-responsive embed-responsive-21by9 col-xl-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d555.0015106127868!2d-64.64896270205514!3d10.169014601680386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2d73b0b5b29589%3A0x5935f61654575303!2sCentro%20Comercial%20Lomas%20del%20Mar!5e0!3m2!1ses!2spe!4v1612706871253!5m2!1ses!2spe" 
              width="600" 
              height="450" 
              frameborder="0" 
              style="border:0;" 
              allowfullscreen="" 
              aria-hidden="false" 
              tabindex="0">
            </iframe>
    
          </div>

        </div>
        <div class="col-xl-6 col-lg-6">
          <h2>Negocio de venta de ropa para mujer</h2>
          <h3 class="mx-auto">
            Cede Puerto Ordaz Estado Bolivar Venezuela
          </h3>
          <h5>
            Venezuela. Eso bolivar, pzo. cc cuidad alta vista 1, PB, dentro del Centro Comercial Altavista II
          </h5>
          <div class="embed-responsive embed-responsive-21by9 col-xl-6 col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2102.443768483819!2d-62.73782542447368!3d8.292966452260822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8dcbf97cdefc232d%3A0xb9a25d07ad19636d!2sCentro%20Comercial%20Ciudad%20Altavista%20II!5e0!3m2!1ses-419!2spe!4v1737482726711!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
      
      <br>
      <br>

      
      <br>
      <br>
      <h3 
        class="mx-auto">
        Cede Cercado de Lima Perú
      </h3>
      <h4>
          Pendiente
      </h4>
      <br>
      <br>
    </div>
  </div>
</div>